{% include 'header.html' %}
{% load static %}
<div>
    {% include 'navbar.html' %}
</div>

<div class="container">
    <table class="table table-bordered table-hover mt-3">
        <tr class="table-primary">
            <th>S.no</th>
            <th>Name</th>
            <th>Father/Husband</th>
            <th>Next Appointment</th>
            <th>Doctor</th>
            <th>Describe</th>
            <th>Prescription</th>
        </tr>
        {% for pd in patients %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{pd.name}}</td>
            <td>{{pd.fh}}</td>
            <td>{{pd.nadate}}</td>
            <td>{{pd.doctor}}</td>
            <td>{{pd.description}}</td>
            <td>{{pd.prc}}</td>
        </tr>
        {% endfor %}
    </table>

</div>