{% include 'header.html' %}
{% load static %}
<div>
    {% include 'navbar.html' %}
</div>

<div class="container">
    {% for patient in patient %}
    <form action="" class="p-4" method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            <tr>
                <td>Doctor:</td>
                <td><input type="text" class="form-control" name="doctor" value="{{patient.doctor}}" disabled></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" class="form-control" name="name" value="{{patient.name}}" disabled></td>
            </tr>
            <tr>
                <td>Father/ Husband:</td>
                <td><input type="text" class="form-control" name="fh" value="{{patient.fh}}" disabled></td>
            </tr>
            <tr>
                <td>Next Date:</td>
                <td><input type="date" name="date"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" name="des" class="form-control" required></td>
            </tr>
            <tr>
                <td>Prescription:</td>
                <td><textarea type="text" cols="5" name="prs" class="form-control" required></textarea></td>
            </tr>
    
        </table>
        <div>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
    {% endfor %}

</div>