{% include 'header.html' %}
{% load static %}
<div>
    {% include 'navbar.html' %}
</div>
<style>
    form div{
        margin-bottom: 20px;
    }
</style>
<!-- create_profile.html -->

<div style="width: 500px; margin: 0px auto;">
    <h1 class="mt-3">Register Form</h1>
    
    <hr>
    
    <form style="width: 400px;" class="mx-auto" method="post" action="">
        {% csrf_token %}

    <label for="name">Name:</label>
    <input type="text" name="name" class="form-control" required>
    <br>

    <label for="name">Father/Husband:</label>
    <input type="text" name="fh" class="form-control" required>
    <br>

    <label for="age">Age:</label>
    <input type="number" name="age" class="form-control" required>
    <br>

    <label for="contact">Contact:</label>
    <input type="text" name="contact" class="form-control" required>
    <br>

    <label for="description">Description:</label>
    <textarea class="form-control" name="description" required></textarea>
    <br>

    <label for="gender">Gender:</label>
    <select class="form-control" name="gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option value="O">Other</option>
    </select>
    <br>

        <input class="btn btn-success" type="submit" value="Submit">
    </form>
</div>
